// bower:scss
@import "bourbon";
@import "base";
@import "neat";
// endbower

@import "login";
@import "alerts";
@import "navbar";
@import "entry_form";
@import "entry_form";

body {
    padding: 0;
    margin: 0;
}

#content {
  @include outer-container;
}

body.is-logged-in #content {
  padding: 1em;
}

div.empty {
  text-align: center;

  img {
    opacity: 0.2;
    max-width: 15em;
    display: block;
    margin: 2em auto;
  }
}

table#entry_list {
  tr th, tr td {
    &:nth-child(2),
    &:nth-child(3) {
      text-align: center;
    }

    &:last-child {
      text-align: right;
    }
  }

  tr {
    td:last-child {
      span:last-child {
        display: none;
      }
    }

    &:hover {
      td:last-child {
        span {
          &:first-child {
            display: none;
          }

          &:last-child {
            display: inline-block;
          }
        }
      }
    }
  }
}