// bower:scss
@import "bourbon";
@import "base";
@import "neat";
// endbower

@import "login";
@import "alerts";
@import "navbar";

body {
    padding: 0;
    margin: 0;
}

#content {
  @include outer-container;
}

body.is-logged-in #content {
  padding: 1em;
}