<h3>Login to Running Man</h3>

<div class='flash'></div>

<p>
  <label>Email</label>
  <input type='email' placeholder='email@address.com' name='email' id='email' autofocus />
</p>

<p>
  <label>Password</label>
  <input type='password' placeholder='password' name='password' id='password' />
</p>

<p>
  <label></label>
  <input type='submit' value='Login' id='submit' />

  <small>
    <a href='/#register'>Create an Account</a>
  </small>
</p>